body{
	padding: 20px;
	margin:0;
}

.thumbnails{
	overflow:hidden;
	border:1px solid #ccc;
	border-radius:20px;
	margin:30px 0;
}

.thumbnails > div{
	margin: 15px 0;
}

.thumbnails > div:nth-child(4n+1){
	margin-left:0;
}

.thumbnails img{
	max-width:150px;
	max-height:150px;
}

/* bootstrap-fix */
.lb-image{
	max-width: inherit;
}

img.img-shadowed{ /* bootstrap-like */
    box-shadow: 0 0 2px 1px #AAAAAA;
    border: 2px solid white;
}